<script type="text/javascript">
$(document).ready(function() {
	
    $('#pesquisa').focus();
    $('select').material_select();
    //$('#conteudo').focus();
    //$('#tag').focus();
    //$('#titulo').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    //$("input#titulo, input#tag, textarea#conteudo").characterCounter();
	
});
</script>

<style media="screen">
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

img {
	height: 100%;
	width: 100%;
}

</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
		<!--<nav class="nav-wrapper orange darken-4">-->
		<nav class="nav-wrapper teal">
			<div class="container">
				<a href="" data-activates="slide-out" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
				<ul id="slide-out" class="side-nav fixed">
				<li>
					<div class="userView">
					  <!--<div class="background cyan accent-3">-->
					  <div class="background">
						<img src="">
					  </div>
					  <!--<a href="#!user"><img class="circle" src="resources/images/nibbles-2.png"></a>-->
					  <a href="#!user"><img class="circle" src=""></a>
					  <a href="#!name"><span class="white-text name">John Doe</span></a>
					  <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
					</div>
				</li>
				<li>
					<a class="waves-effect" href="#/inicio">
						<i class="material-icons">home</i>
						Início
					</a>
				</li>
				<li>
					<a class="waves-effect" href="#/promocoes">
						<i class="material-icons">loyalty</i>
						Promoções
					</a>
				</li>				
				<li>
					<a class="waves-effect" href="#/cardapio">
						<i class="material-icons">restaurant_menu</i>
						Cardápio
					</a>
				</li>
				<li class="active">
					<a class="waves-effect" href="#/usuarios">
						<i class="material-icons">people</i>
						Usuários
					</a>
				</li>
				
				<li>
					<div class="divider"></div>
				</li>
				
				<li>
					<a class="waves-effect" href="#!">
						<i class="material-icons">exit_to_app</i>
						Sair
					</a>
				</li>
				
			  </ul>
			</div>
			<div class="nav-wrapper">
				<a href="#/listar" class="brand-logo light center">TecNews Admin</a>
			</div>
		</nav>
	</header>
	
	<!-- Main -->
	<main>
		<br>
        <div class="container">
            <div class="row">

                <h5 class="light">Usuários</h5>
                <hr>
                <br>

                <div class="col s12 m12 l6">
                    <div class="input-field">
                        <input id="pesquisa" ng-model="pesquisa" placeholder="ID, Nome, Email, Celular" type="text" class="validate">
                        <label for="pesquisa">Pesquisar</label>                        
                        <p>Total de <b>{{totalEmailsCadastrados}}</b> emails cadastrados</p>
                    </div>
                </div>
				
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>						
							<th>Nome</th>
							<th>Email</th>
							<th>Celular</th>                            
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="usu in usuarios | filter: pesquisa">                            
							<td>{{usu.id}}</td>
							<td>{{usu.nome}}</td>
							<td>{{usu.email}}</td>
							<td>{{usu.numeroCelular}}</td>
						</tr>
					</tbody>
				</table>
            </div>
        </div>
		
	
	</main>
</div>
