<script type="text/javascript">
$(document).ready(function() {
	
    $('#pesquisa').focus();
    $('select').material_select();
    //$('#conteudo').focus();
    //$('#tag').focus();
    //$('#titulo').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    //$("input#titulo, input#tag, textarea#conteudo").characterCounter();
	
});
</script>

<style media="screen">
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

img {
	height: 100%;
	width: 100%;
}

</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
        <tn-Nav selected="usuarios"></tn-Nav>
    </header>
	
	<!-- Main -->
	<main>
		<br>
        <div class="container">
            <div class="row">

                <h5 class="light">Usuários</h5>
                <hr>
                <br>

                <div class="col s12 m12 l6">
                    <div class="input-field">
                        <input id="pesquisa" ng-model="pesquisa" placeholder="ID, Nome, Email, Celular" type="text" class="validate">
                        <label for="pesquisa">Pesquisar</label>                        
                        <p>Total de <b>{{totalEmailsCadastrados}}</b> emails cadastrados</p>
                    </div>
                </div>
				
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>						
							<th>Nome</th>
							<th>Email</th>
							<th>Celular</th>                            
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="usu in usuarios | filter: pesquisa">                            
							<td>{{usu.id}}</td>
							<td>{{usu.nome}}</td>
							<td>{{usu.email}}</td>
							<td>{{usu.numeroCelular}}</td>
						</tr>
					</tbody>
				</table>
            </div>
        </div>
		
	
	</main>
</div>
