<script type="text/javascript">
$(document).ready(function() {
    $('.chips').material_chip();
});
</script>

<style media="screen">
	header,
	main,
	footer {
		padding-left: 300px;
	}
	
	@media only screen and (max-width: 992px) {
		header,
		main,
		footer {
			padding-left: 0;
		}
	}
	
	img {
		height: 100%;
		width: 100%;
	}
</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
		<tn-Nav selected="sortear"></tn-Nav>
	</header>

	<!-- Main -->
	<main>
		<br>
		<form ng-submit="sorteio()">
			<div class="container">

				<span>Sorteie o produto <b>{{produto.nome}}</b> entre os usuários que estão cadastrados no app.</span>
				<br><br>
				
			
				<div class="chip">
					<img src="resources/images/{{produto.imagemname}}" alt="Contact Person">
					{{produto.nome}}
				</div>					

				<br>
				<br>
				<br>

				<button type="submit" class="btn waves-effect">Sortear Produto</button>
				<a href="#/sorteio/detalhes/{{produto.id}}" class="btn waves-effect right">Voltar</a>
			</div>
		</form>

		<div ng-if="usuarioSorteado != null">
			<div class="row">
				<hr>
				<form class="center col s12" ng-submit="confirmarSorteio()">
					<div class="row">
						<div class="input-field col s12 m12 l6 offset-l3">
							<b>Nome Usuário</b>
							<input placeholder="Nome Usuário" id="nome" type="text" class="validate" value="{{usuarioSorteado.nomeUsuario}}">							
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m12 l6 offset-l3">
							<b>Email</b>
							<input value="{{usuarioSorteado.email}}" id="email" type="email" class="validate">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m12 l6 offset-l3">
							<b>Número celular</b>
							<input id="numeroCelular" type="text" class="validate" value="{{usuarioSorteado.numeroCelular}}">							
						</div>
					</div>

					<button type="submit" class="btn waves-effect">Confirmar?</button>

				</form>
			</div>
		</div>
	</main>
</div>