<script type="text/javascript">
$(document).ready(function() {
    
	$('#pesquisa').focus();
	$('select').material_select();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    //$("input#titulo, input#tag, textarea#conteudo").characterCounter();	
	
	$('.tooltipped').tooltip({delay: 50});
	$('.modal-trigger').leanModal();	
});
</script>

<style media="screen">
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

img {
	height: 100%;
	width: 100%;
}

</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
		<tn-Nav selected="sorteio"></tn-Nav>
	</header>
	
	<!-- Main -->
	<main>
		<br>
        <div class="container">
            <div class="row">
			
                <br>
                <div class="col s12 m12 l6">
                    <div class="input-field">
                        <input id="pesquisa" ng-model="pesquisa" placeholder="Nome, Descrição, Valor" type="text" class="validate">
                        <label for="pesquisa">Pesquisar</label>                        
                    </div>
                </div>
				
				<span class="new badge" data-badge-caption=""><b>{{qtdProdutoPromo}}</b> produto(s) disponível para o sorteio</span>
				
			</div>
				
			<div class="row">
				<div class="col s12 m12 l12" ng-repeat="produtoPromo in produtosPromocao | filter: {promocao:'s'} | filter: {ativo:'s'}">
					<div class="card horizontal small">
						
						<div class="card-image">
							<img src="resources/images/{{produtoPromo.imagemname}}" >
						</div>
						
						<div class="card-stacked">
							<div class="card-content">
								<h4>
									<b>{{produtoPromo.nome}}</b>
								</h4>

								<h5>
									<i>
										{{produtoPromo.descricaoProduto}}
									</i>	
								</h5>

								<div style="padding-top: 70px">
									<b>R$</b> {{produtoPromo.valor}}
								</div>	
							</div>

							<div class="card-action">
								<a ng-click="removerSorteio(produtoPromo.id)" class="left waves-effect waves-light btn">									
									Tirar do Sorteio
								</a>

								<a ng-click="moreInfoProdutoSorteio(produtoPromo.id)" class="right waves-effect waves-light btn">									
									Detalhes
								</a>
							</div>
						</div>
					</div>
				</div>			  
			</div>
        </div>		
	</main>
</div>
