<script type="text/javascript">
$(document).ready(function() {
    
	$('#valor').focus();
	$('#nomePrato').focus();
	$('select').material_select();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    //$("input#titulo, input#tag, textarea#conteudo").characterCounter();	
	
	$('.tooltipped').tooltip({delay: 50});
	$('.modal-trigger').leanModal();
	
});
</script>

<style media="screen">
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

img {
	height: 100%;
	width: 100%;
}

.backdrop{
	background-color: black;
}

</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
		<tn-Nav selected="cardapio"></tn-Nav>
	</header>
	
	<!-- Main -->
	<main>
		<div class="container">
			<br>
			<h5 class="light">Novo Produto</h5>
			<hr>
		
			<div class="row">
				<form class="col s12 m12 l12" ng-submit="cadastrarProduto()" method="post">
					<div class="row">
						<br>
						<div class="input-field col s12 m12 l12">
							<input id="nomePrato" ng-model="p.nomePrato" type="text" class="validate" required>
							<label for="nomePrato">Nome do prato</label>
						</div>
						<div class="input-field col s12 m12 l12">
							<textarea id="descricao" ng-model="p.descricao" class="materialize-textarea" required></textarea>
							<label for="descricao">Descrição</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="valor" type="number" ng-model="p.valor" class="validate" value="0.00" min="1" required>
							<label for="valor">Preço R$</label>
						</div>
					 </div>
					<div class="row">
						<div class="input-field col s12 m12 l12">
							<input type="checkbox" ng-model="p.checkAtivo" id="checkAtivo" checked="checked"/>
							<label for="checkAtivo">Ativo</label>
						</div>	
					</div>
					
					<div class="row">
						<div class="input-field col s12 m12 l12">		
							<input type="checkbox" ng-model="p.checkSorteio" id="checkSorteio"/>
							<label for="checkSorteio">Sorteio</label>
						</div>
					</div>
					<br>
					<div class="file-field input-field">
						<div class="btn">
							<span>Imagem</span>
							<input type="file" multiple>
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" ng-model="arquivo" type="text" placeholder="Selecione uma imagem do prato" required>
						</div>
					</div>
					<br>
					<button class="waves-effect waves-light btn cyan accent-3" type="submit">Cadastrar</button>
					<button class="waves-effect waves-light btn" ng-click="backCardapioView()">Cancelar</button>
				</form>
			</div>
		</div>
	</main>
</div>