<script type="text/javascript">

$(document).ready(function() {
    
	$('#descricao').focus();
	$('#valor').focus();
	$('#nomePrato').focus();
	$('select').material_select();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    //$("input#titulo, input#tag, textarea#conteudo").characterCounter();	
	
	$('.tooltipped').tooltip({delay: 50});
	$('.modal-trigger').leanModal();
});

</script>

<style media="screen">
	header,
	main,
	footer {
		padding-left: 300px;
	}
	
	@media only screen and (max-width: 992px) {
		header,
		main,
		footer {
			padding-left: 0;
		}
	}
	
	img {
		height: 100%;
		width: 100%;
	}
	
	.backdrop {
		background-color: black;
	}
</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
		<tn-Nav selected="cardapio"></tn-Nav>
	</header>

	<!-- Main -->
	<main>
		<div class="container">
			<br>
			<h5 class="light">Editar Produto</h5>
			<hr>

			<div class="row">
				<form class="col s12 m12 l12" ng-submit="editarProduto()">
					<div class="row">
						<br>
						<div class="input-field col s12 m12 l12">
							Nome do Prato
							<input id="nomePrato" type="text" class="validate" required>							
						</div>
						<div class="input-field col s12 m12 l12">
							Descrição
							<textarea id="descricao" class="materialize-textarea" required></textarea>							
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							Preço R$
							<input id="valor" type="number" class="validate" min="1" required>
						</div>
					</div>
					<br>
					<div class="file-field input-field">
						<div class="btn">
							<span>Imagem</span>
							<input type="file">
						</div>
						<div class="file-path-wrapper">
							<input id="nomeImagem" class="file-path validate" type="text" placeholder="Selecione uma imagem do prato" required>
						</div>
					</div>
					<br>
					<button class="waves-effect waves-light btn cyan accent-3" type="submit">Editar</button>
					<a href="#/cardapio" class="right waves-effect waves-light btn">Cancelar</a>
				</form>
			</div>
		</div>
	</main>
</div>