<script type="text/javascript">
$(document).ready(function() {
    
	$('#pesquisa').focus();
	$('select').material_select();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    //$("input#titulo, input#tag, textarea#conteudo").characterCounter();	
	
	$('.tooltipped').tooltip({delay: 50});
	$('.modal-trigger').leanModal();	
});
</script>

<style media="screen">
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

img {
	height: 100%;
	width: 100%;
}

</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
		<tn-Nav selected="promocoes"></tn-Nav>
	</header>
	
	<!-- Main -->
	<main>
		<br>
        <div class="container">
            <div class="row">
			
                <br>
                <div class="col s12 m12 l6">
                    <div class="input-field">
                        <input id="pesquisa" ng-model="pesquisa" placeholder="Nome, Descrição, Valor" type="text" class="validate">
                        <label for="pesquisa">Pesquisar</label>                        
                    </div>
                </div>
				
				<div class="col s12 m12 l6">
					<br>
					<br>
					Total de <b>{{qtdProdutoPromo}}</b> produtos para sortear
				</div>
			</div>
				
			<div class="row">
				<div class="col s12 m6 l4" ng-repeat="produtoPromo in produtosPromocao | filter: {'promocao':'s'}">
					<div class="card medium">
						
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="resources/images/{{produtoPromo.imagemname}}">
						</div>
						
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">
								<b>{{produtoPromo.nome}}</b>
								<i class="material-icons right">more_vert</i>
							</span>
							<p>R$ {{produtoPromo.valor}}</p>
							
							<br>
							<a ng-click="removerSorteio(produtoPromo.id)" class="left waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Remover do sorteio">									
								<!--<i class="material-icons">card_giftcard</i>-->
								<i class="material-icons">remove_circle_outline</i>
							</a>

							<a href="#modal1" ng-click="visualizarUsuarios(produtoPromo.id,produtoPromo.nome,produtoPromo.descricaoProduto,produtoPromo.descricaoPromocao)" class="right waves-effect waves-light btn modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="Visualizar Usuários">									
								<i class="material-icons">supervisor_account</i>
							</a>
							
						</div>
						
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">
								<b>{{produtoPromo.nome}}</b>
								<i class="material-icons right">close</i>
							</span>
							<p>{{produtoPromo.descricaoProduto}}</p>							
						</div>
					</div>
				</div>			  
			</div>
			
			<!-- Modal Structure -->
			<div id="modal1" class="modal bottom-sheet">
				<div class="modal-content">
					
					<b>Produto:</b> {{nomeProdutoSelecionado}}
					<br>
					<b>Descrição produto:</b> {{descricaoProdutoSelecionado}}
					<br>
					<b>Descrição promoção:</b> {{descricaoPromocaoSelecionado}}				
					
					<h5>Usuários Sorteados</h5>
					
					<table class="highlight">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Email</th>
								<th>Número Celular</th>
								<th>Data Sorteio</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="usuP in usuariosProduto">
								<td>{{usuP.nomeUsuario}}</td>
								<td>{{usuP.email}}</td>
								<td>{{usuP.numeroCelular}}</td>
							</tr>
						</tbody>
					</table>					
					<br>
					<br>
					<br>
				</div>
			</div>
        </div>		
	</main>
</div>
