<script type="text/javascript">
$(document).ready(function() {
    
	$('select').material_select();
    //$('#conteudo').focus();
    //$('#tag').focus();
    //$('#titulo').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    //$("input#titulo, input#tag, textarea#conteudo").characterCounter();
	
});
</script>

<style media="screen">
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

img {
	height: 100%;
	width: 100%;
}

</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
		<tn-Nav selected="conta"></tn-Nav>
	</header>
	
	<!-- Main -->
	<main>
	
	</main>
</div>
