<nav class="nav-wrapper orange darken-4">
	<div class="container">
		<a href="" data-activates="slide-out" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
		<ul id="slide-out" class="side-nav fixed">
		<li>
			<div class="userView">
			  <!--<div class="background cyan accent-3">-->
			  <div class="background cyan accent-3">
				<img src="">
			  </div>
			  <!--<a href="#!user"><img class="circle" src="resources/images/logo.png"></a>-->
			  <a href="#!user"><img class="circle" src="resources/images/logoORIG.png"></a>
			  <a href="#!name"><span class="white-text name">John Doe</span></a>
			  <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
			</div>
		</li>
		<li ng-class="{'active': selected=='inicio'}">
			<a class="waves-effect" href="#/inicio">
				<i class="material-icons">home</i>
				Início
			</a>
		</li>
		<li ng-class="{'active': selected=='promocoes'}">
			<a class="waves-effect" href="#/promocoes">
				<i class="material-icons">loyalty</i>
				Promoções
			</a>
		</li>				
		<li ng-class="{'active': selected=='cardapio'}">
			<a class="waves-effect" href="#/cardapio">
				<i class="material-icons">restaurant_menu</i>
				Cardápio
			</a>
		</li>
		<li ng-class="{'active': selected=='usuarios'}">
			<a class="waves-effect" href="#/usuarios">
				<i class="material-icons">people</i>
				Usuários
			</a>
		</li>
		
		<li>
			<div class="divider"></div>
		</li>
		
		<li>
			<a class="waves-effect" href="#!">
				<i class="material-icons">exit_to_app</i>
				Sair
			</a>
		</li>
		
	  </ul>
	</div>
	<div class="nav-wrapper">
		<a ng-show="selected=='inicio'" href="#/inicio" class="brand-logo light center">Início</a>
		<a ng-show="selected=='promocoes'" href="#/promocoes" class="brand-logo light center">Promoções</a>
		<a ng-show="selected=='cardapio'" href="#/cardapio" class="brand-logo light center">Cardápio</a>
		<a ng-show="selected=='usuarios'" href="#/usuarios" class="brand-logo light center">Usuários</a>
	</div>
</nav>