<script type="text/javascript">
$(document).ready(function() {
    
	$('select').material_select();
    //$('#conteudo').focus();
    //$('#tag').focus();
    //$('#titulo').focus();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    //$("input#titulo, input#tag, textarea#conteudo").characterCounter();
	
});
</script>

<style media="screen">
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

img {
	height: 100%;
	width: 100%;
}

</style>

<div class="footer-flex">
	<!-- Header -->
	<header>
		<tn-Nav selected="configuracao"></tn-Nav>
	</header>
	
	<!-- Main -->
	<main>
        <br>
        <div class="container">
            <div class="row">
                <br>
                <div class="col s12 m12 l12">
                    <a ng-href="#/alterarSenha" class="waves-effect waves-light btn orange darken-4" style="width: 100%">Alterar Senha</a>
                    <br>
                    <a ng-href="#/inserirUsuario" class="waves-effect waves-light btn orange darken-4" style="width: 100%; margin-top: 10px">Inserir Usuário</a>
                </div>
            </div>
        </div>
	</main>
</div>
